
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

b, u, i, center,
dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* Base Styles */

.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

ol, ul {
  list-style: none; }

html {
padding: 0;
margin:0;
  background-color: #2C5945;  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2C5945), to(#10AAC0));
  background-image: -webkit-linear-gradient(top, #2C5945, #10AAC0); 
  background-image: -moz-linear-gradient(top, #2C5945, #10AAC0);
  background-image: -o-linear-gradient(top, #2C5945, #10AAC0);
  min-height: 100%;
  height: auto;
}

body{
padding: 0;
margin:0;
}


.heading {
padding: 0;
margin: 0;
height: 65px;
background:#921A0A;
border-bottom: solid 6px  #4E2920;
}


.fillit{
	padding: 0 40px 0 40px;
	margin: 20px 0 0 30px;

}

.fillit h1,
.fillit h2{
  color: #F2E15F;
  text-shadow: 2px 2px 2px #4E2920;
}

.fillit p{
  color: #DA8920;
}


/* Search Styles */

.search {
  background: #063642;
  color: #EEE8D5;
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 20;
}

.search h1 {
  color: #EEE8D5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
    background: #09576D;
}

.search label {
  display: none;
}

.search input {
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  outline: 0;
}

.search .formgroup input {
  border: 1px solid rgba(0,0,0,0.3);
  display: inline;
  width: auto;
}

.search label.formgroup {
  display: inline;
  width: auto;
}

.search select {
  display: inline;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  outline: 0;
}




/* MUSIC LIST */
.musicList {
  background: #000033;
  color: white;
  width: 72%;
  min-width: 290px;
  max-width:450px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
}

.musicList ul {
  margin: 1px;
  padding: 0;
  background: #000033;
}

.musicList h2, h3, h4{
 padding:4px;
 margin:0;
}

.musicList li {
  font-family: Verdana;
  text-align:center;
  margin: 0;
  padding: 6px 0 15px 0; 
  border-bottom: 1px solid lime;
  opacity: .9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.musicList a {
  padding: 3px;
  color:yellow;
  text-decoration: none;
}


.musicList a:hover {
  color:yellow;
  font-size-adjust: .5;
  text-decoration: underline;
}

.musicList li:hover {
  background: #000045;
  color: white;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 8px;
}

.music img {
  display: block;
  float: left;
  padding: 5px 5px 0 8px;
  width: 60px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

}

.music:last-child {
  border-bottom: 2px solid lime;
  border-radius:0 0 20px 20px;
  padding-bottom: 25px;
}

.musicinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
}

.musicinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.musicinfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

.music.ng-enter.ng-enter-active,
.music.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.music.ng-leave.ng-leave-active,
.music.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

