<section class="musicinfo">
  <div class="music cf" ng-model="music">
	<a href="#/detailed/{{prevItem}}" class="btn btn-left">&lt;</a>
	<a href="#/detailed/{{nextItem}}" class="btn btn-right">&gt;</a>
	<h1>{{music[whichItem].author}}</h1>
	<div class="info">
		<h3>{{music[whichItem].title}}</h3>
		    <img ng-src="images/{{music[whichItem].onscreen}}.jpg" alt="Photo of {{music[whichItem].source}}">
		        <div class="info">
				    <span>Title: <a ng-href="{{music[whichItem].links}}">{{item.title}}</a></span>
			    </div>
	</div>
	
  </div>
  <a href="index.html">&laquo; Back to Search</a>
</section>