<section class="musicpage">
  <div class="search">
     <h1>Music Directory</h1>
	 <label>Search: </label>
	 <!--added a search function model "query" which will be called as a filter below-->
	 <input ng-model="query" placeholder="Search through Songs" autofocus>

	<!--Creates a select box of how we filter our searches-->
     <label class="formgroup">by:
	  <select ng-model="songOrder">
	   <option value="author">Author</option>
	   <option value="title">Title</option>
	  </select>
     </label>
	 
	 <!--creates the direction (asc or desc) of the order we select-->
	 <label class="formgroup">
		<input type="radio" ng-model="direction" name="direction" checked>
		ascending
	 </label>
	 <label class="formgroup">
		<input type="radio" ng-model="direction" name="direction" value="reverse">
		descending
	 </label>
  </div>
  
	<ul class="musicList" ng-show="query">
		<li ng-animate="'animate'" class="music cf" ng-repeat="item in music | filter: query | orderBy: songOrder:direction"> 
			<div class="info">
			    <h2>Author: {{ item.author }}</h2>
				<span>Title: <a ng-href="{{item.links}}">{{item.title}}</a></span>
			</div>
		</li>
	</ul>

 </section>